@charset "UTF-8";

* {
	margin: 0px;
	padding: 0px;
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
	text-align: center;
}

#full {
	background-color: #5383e8;
	min-width: 1080px;
	min-height: 100%;
	position: relative;
	overflow: hidden;
}

.gnbbar {
	display: flex;
	background-color: #232f46;
	word-break: keep-all;
	height: 40px;
}

#opgg {
	padding-bottom: 10px;
	text-align: center;
	background-color: #5383e8;
	width: 100px;
	
}
#opgg_log{
	position: relative;
	top:-7px;
	left: 0px;
}
.game {
	line-height: 40px;
	padding: 0 12px 0 4px;
	margin: 0;
	color: white;
	background-color: #5383e8;
}

.game2 {
	margin: 4px;
	padding: 0 8px;
	display: inline-block;
	height: 32px;
	line-height: 32px;
	vertical-align: middle;
}

.gamemenu_first:link {
	color: white;
}

.gamemenu_first:visited {
	color: white;
}

.gamemenu:link {
	color: #c3cbd1;
}

.gamemenu:visited {
	color: #c3cbd1;
}

.game2:hover {
	background-color: #5e7e9b;
}

.sec_gnbbar {
	border-bottom: 1px solid #4171d6;
	box-sizing: border-box;
	height: 48px;
}

.menu {
	display: flex;
	margin: 0 auto;
	height: 48px;
}

.menu_line {
	margin-left: 24px;
	font-size: 15px;
	line-height: 19px;
}

.munu_line_first-child {
	margin-left: 0px;
	font-size: 15px;
	line-height: 19px;
}

.menu_line>a.urf {
	color: #00fede;
}

.munu_line_first-child>a {
	color: white;
	display: flex;
	border-bottom: 3px solid white;
	padding: 13px 0;
}

.menu_line>a {
	color: #b3cdff;
	display: flex;
	border-bottom: 3px solid transparent;
	padding: 13px 0;
}

.menu_line>a:hover {
	color: white;
	display: flex;
	border-bottom: 3px solid white;
	padding: 13px 0;
}

span {
	font-size: 12px;
	vertical-align: middle;
}

.icon {
	width: 24px;
	height: 24px;
	vertical-align: middle;
}

.mid_first {
	text-align: center;
	padding: 32px 0 24px;
}

.mid_form {
	position: relative;
	width: 650px;
	margin: 0px auto;
	background-color: white;
	border-radius: 5px 5px 5px 5px;
}

.mid_form_input {
	background: none;
	border: none;
	color: #9b9b9b;
	padding: 15px 150px 18px 17px;
	width: 100%;
	font-size: 14px;
}

.mid_form_button {
	position: absolute;
	left: 580px;
	top: 7px;
	display: flex;
}

.button_img {
	background-image: url("https://opgg-static.akamaized.net/assets/site.png?image=q_auto&v=1614735388");
	background-position: -90px -797px;
	width: 50px;
	height: 30px;
}
.mid_third{
	background-color: white;
	margin : 30px 55px 0px;
	height:50%;
}
.third_box{
	width:970px;
	height:250px;
	border: 1px solid; 
}