@charset "UTF-8";

* {
	margin: 0px;
	padding: 0px;
}

ul {
	list-style: none;
	text-align: center;
}

body {
	background-color: #5383e8;
}

.gnbbar {
	display: flex;
	background-color: #232f46;
	word-break: keep-all;
	height: 40px;
}

.sec_gnbbar {
	height: 48px;
	border-bottom: 1px solid #4171d6;
	box-sizing: border-box;
}

.menu {
	display: flex;
	margin: 0 auto;
	height: 48px;
}

.menu_line {
	margin-left: 24px;
	font-size: 15px;
	line-height: 19px;
}

.munu_line_first-child {
	margin-left: 0px;
	font-size: 15px;
	line-height: 19px;
	
}

.menu_line>a, .munu_line_first-child>a {
	color: #b3cdff;
	display: flex;
	border-bottom: 3px solid transparent;
	padding: 13px 0;
}

#opgg {
	padding-bottom: 10px;
	text-align: center;
	background-color: #5383e8;
	width: 100px;
}

.game {
	line-height: 40px;
	padding: 0 12px 0 4px;
	margin: 0;
	color: white;
	background-color: #5383e8;
}

.game2 {
	margin: 4px;
	padding: 0 8px;
	color: #c3cbd1;
	display: inline-block;
	height: 32px;
	line-height: 32px;
	vertical-align: middle;
}

span {
	font-size: 12px;
	vertical-align: middle;
}

.icon {
	width: 24px;
	height: 24px;
	vertical-align: middle;
}
